<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.lunaris.uke"
    android:versionCode="1"
    android:versionName="1.0">
    
    <application android:hasCode="false" />
    
    <overlay
        android:targetPackage="com.android.settings"
        android:targetName="LunarisStrings"
        android:isStatic="true"
        android:priority="100" />
</manifest>
